* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-card: "Lato", sans-serif;
    --bg-cards: #FFFFFF;
    --bg-Special: #26235C;
    --bg-btn1: #A79AE0;
    --color-first: #FFFFFF;
    --color-second: #252525;
    --color-third: #F7DF1E;
    --color-span: #F9F871;
}

body {
    background: rgb(0, 0, 128);
    background: linear-gradient(159deg, rgba(0, 0, 128, 1) 0%, rgba(0, 191, 255, 1) 100%);
    min-height: 100vh;
    font-family: var(--font-card);
    background-repeat: no-repeat;
    background-size: cover;
}

.profiles-grid {
    padding: 80px 30px;
    gap: 50px;
}

.profiles-grid h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #FFF9E5;
    font-weight: 500;
    font-family: cursive;
    margin-bottom: 3.5rem;
}

.profiles-grid .row {
    display: flex;
    gap: 80px;
    padding: 20px;
    justify-content: space-around;
}

.profiles-grid .row .card {
    background: var(--bg-cards);
    border-radius: 20px;
    box-shadow: 0 15px 25px var(--bg-Special);
    padding: 2rem;
    max-width: 350px;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: fadeInUp 10s ease-in-out;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid var(--color-third);
    margin: 0 auto 1rem;
    overflow: hidden;
    animation: float 5s ease-in-out infinite;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    font-weight: 600;
    margin: 0.5rem 0 0;
    color: var(--bg-Special);
}

.role {
    color: var(--color-second);
    font-weight: 500;
    font-size: 0.95rem;
}

.desc {
    color: var(--color-second);
}

.email {
    background: var(--bg-Special);
    color: var(--color-first);
    padding: 8px 14px;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid var(--bg-Special);
    transition: background 1s ease-in;
}

.email:hover {
    background: var(--bg-cards);
    color: var(--bg-Special);
}

.social-icons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.5rem;
}

.social-icons a {
    color: var(--bg-Special);
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

/* Animation */
@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
        box-shadow: 0 15px 25px var(--bg-Special);
        border: none;
    }

    50% {
        transform: translateY(-8px);
        box-shadow: 0 15px 25px var(--color-third);
    }
}

@media(max-width:768px) {
    .profiles-grid .row {
        flex-wrap: wrap;
    }
}